<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.apitest.dao.login.LoginMapper">

  <insert id="insertLoginToken" parameterType="HashMap" useGeneratedKeys="true" keyProperty="no">
    INSERT INTO login_session (token, expiration_date)
    VALUES (#{token}, #{expirationDate})
  </insert>

</mapper>