<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.apitest.dao.UserMapper">

  <select id="getUserInfoByNo" parameterType="String" resultType="userDTO">
    SELECT no
    , email
    , name
    , pwd
    , created_date as createdDate
    , modified_date as modifiedDate
    FROM user
    WHERE no = #{no}
  </select>

  <select id="getUserInfoByEmail" parameterType="String" resultType="userDTO">
    SELECT no
    , email
    , name
    , pwd
    , created_date as createdDate
    , modified_date as modifiedDate
    FROM user
    WHERE email = #{email}
  </select>

  <insert id="joinUser" parameterType="userDTO" useGeneratedKeys="true" keyProperty="no">
    INSERT INTO user (name, email, pwd)
    VALUES (#{name}, #{email}, #{pwd})
  </insert>

  <update id="updateUserInfo" parameterType="HashMap">
    UPDATE user
    <trim prefix="SET" suffixOverrides=",">
      modified_date = now(),
      <if test="userRequest.name != null">name = #{userRequest.name},</if>
      <if test="userRequest.pwd != null">pwd = #{userRequest.pwd},</if>
    </trim>
    WHERE no = #{userNo}
  </update>

  <delete id="deleteUser" parameterType="String">
    DELETE FROM user WHERE no = #{no}
  </delete>

</mapper>