<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>loginForm</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/user/dataSendAjax.js"></script>
  <script src="/js/user/validator.js"></script>
</head>
<body>
<script>
    $(document).ready(function () {

        // 로그인 버튼 클릭 이벤트 : 입력값 유효성 체크 후 ajax 전송
        $("#loginBtn").click(function () {
            if (loginChk()) {
                loginDataSend();
            }
        });

    })
</script>
<div id="container">
  <form id="loginForm">
    <h4>login Form</h4>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" id="pwd" name="pwd" placeholder="Password">
    </div>
    <button type="button" id="loginBtn">LOGIN</button>
  </form>
</div>
</body>
</html>